header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 17px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid 5px coral;
    margin: 100px;
    padding: 20px;
}


.start-button {
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
}

